<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      font-family: sans-serif, Arial;
      background-color: #f4f4f4;
      color: #cfd1d2;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .handle {
      color: #798995;
      font-size: 14.7px;
      line-height: 0.8;
    }

    .handle span {
      font-size: 12.5px;
    }

    .tweet-container {
      background-color: #15202b;
      border-radius: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 456px;
      padding: 20px 36px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
    }

    .tweet-header {
      display: flex;
      align-items: center;
      border: 2px solid #15202b;
    }

    .user-avatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 12px;
    }

    .user-info {
      flex-grow: 1;
      display: flex;
      gap: 2px;
      flex-direction: column;
    }

    .username {
      font-weight: 700;
    }

    .actions {
      color: #798995;
    }

    .actions p {
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="tweet-container">
    <div class="tweet-header">
      <img class="user-avatar" src="{{data.img}}" alt="User Avatar" />
      <div class="user-info">
        <div class="username">{{data.name}}</div>
        <div class="handle"><span>&#64;</span>{{data.user_name}}</div>
      </div>
      <img width="25px" height="25px" src="assets/logo-white.png" alt="" />
    </div>
    <div class="tweet-content">
      {{data.tweet_body}}
    </div>
    <div class="actions">
      <p>{{data.time}}</p>
    </div>
  </div>
</body>

</html>